@{
    ViewData["Title"] = "Home Page";
}


<div align="left">
    <button>Cabinet</button>
    <button>Categories</button>
    <button>Like</button>
    <button>Need</button>
    <button>Search</button>
    <button>Chats</button>
</div>


